@import "../index.css";

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vw;
}

.tag-buttons {
    z-index: 100;
    width: 14vw;
    height: 9vh !important;
    text-align: center;
    margin-right: 10vw;
    opacity: .80;
    font-family: 'Alegreya', serif !important;
    background-color: olive !important;
    border-color: olive !important;
    color: white;
    font-size: 1.4em !important;
    margin-right: 10vw;
}
.tag-buttons:hover {
    color: black !important;
}

a {
    color: white !important;
}
a:hover {
    color: black !important;
}

td {
    font-size: 20px;
    margin: 5vw;
}